<div class="results">
  <ul class="list-group">
    {{#each terms}}
      <li class="list-group-item">
        <p>{{this.term}} <span class='pull-right'>{{this.createdAt}}</span></p>
      </li> 
    {{/each}}
  </ul>
</div>